.background {
  position: relative;
}

.background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("/images/background.svg") repeat;
  background-size: contain;
  pointer-events: none;
  z-index: -1;
}

.container {
  display: flex;
  justify-content: center; /* Center form horizontally */
  align-items: center; /* Center form vertically */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 20px;
}

.mainBody {
  width: 70%;
  border: 5px solid #353535;
  background-color: #f7f7f7;
  border-radius: 25px;
  padding: 25px;
  margin: 80px;
  max-width: 1500px;
  text-align: center;
}

.mainBody h1 {
  font-size: 2rem;
  color: #353535;
  margin-bottom: 20px;
  text-align: center;
}

.mainBody h2 {
  font-size: 1.5rem;
  color: #353535;
  margin-top: 20px;
}

.mainBody p {
  font-size: 1rem;
  color: #353535;
  line-height: 1.6;
}

.mainBody ul {
  list-style: disc;
  margin-left: 20px;
}

.mainBody ul li {
  margin-bottom: 10px;
  font-size: 1rem;
}

.feature {
  border-radius: 25px;
  width: 70%;
  margin: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 5px solid #353535;
  background-color: #f7f7f7; /* Light background for better aesthetics */
  padding: 25px;
  max-width: 1500px;
}

.leftBlock {
  flex: 1;
  padding: 10px;
  border-radius: 15px; /* Rounded corners for consistency */
  background-color: #f7f7f7; /* Contrast with border */
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.heading {
  font-size: 2.25rem;
  color: #353535; /* Darker text for better readability */
  text-align: center;
  margin-bottom: 60px;
  margin-top: 0px;
}

.description {
  margin: 0;
  font-size: 1.5rem;
  color: #353535; /* Lighter shade for description */
  text-align: center;
}

.rightBlock {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.imgStyle {
  border-radius: 25px;
  max-width: 100%; /* Ensure responsiveness */
  height: auto; /* Maintain aspect ratio */
  border: 2px solid #353535;
  padding: 10px;
}

.list {
  text-align: left;
}
/* Default Styles */
/* Place your base styles here. These will apply to all devices unless overridden by media queries */

@media (max-width: 500px) {
  /* Styles for extra small devices (mobile phones in portrait mode) */
  .container {
    width: 95%;
  }
  .description {
    font-size: 0.75rem;
  }
  .leftBlock {
    padding: 5px;
  }
  .mainBody h1 {
    font-size: 1.5rem;
  }

  .mainBody h2 {
    font-size: 1.2rem;

    margin-top: 10px;
  }

  .mainBody p {
    font-size: 0.9rem;
    line-height: 1.3;
  }

  .mainBody ul {
    list-style: disc;
    margin-left: 10px;
  }

  .mainBody ul li {
    margin-bottom: 10px;
    font-size: 0.9rem;
  }
}

/* Extra Small Devices (0px to 575px) */
@media (max-width: 575px) {
  /* Styles for extra small devices (mobile phones in portrait mode) */
  .mainBody {
    width: 85%;
  }

  .feature {
    width: 85%;
    flex-direction: column;
  }

  .heading {
    font-size: 1.25rem;
  }

  .description {
    font-size: 1rem;
  }
}

/* Small Devices (576px to 767px) */
@media (min-width: 576px) and (max-width: 767px) {
  /* Styles for small devices (mobile phones in landscape mode) */
  .mainBody {
    width: 85%;
  }
  .feature {
    width: 85%;
    flex-direction: column;
  }
}

/* Medium Devices (768px to 991px) */
@media (min-width: 768px) and (max-width: 991px) {
  /* Styles for medium devices (tablets in portrait mode) */
  .mainBody {
    width: 90%;
  }
  .feature {
    width: 90%;
    flex-direction: column;
  }
}

/* Large Devices (992px to 1199px) */
@media (min-width: 992px) and (max-width: 1199px) {
  /* Styles for large devices (tablets in landscape mode or small laptops) */
  .mainBody {
    width: 90%;
  }
  .feature {
    width: 90%;
  }
}

/* Extra Large Devices (1200px to 1919px) */
@media (min-width: 1200px) and (max-width: 1919px) {
  /* Styles for extra large devices (large laptops and desktops) */
  .mainBody {
    width: 85%;
  }
  .feature {
    width: 85%;
  }
}

/* Ultra-Wide Devices (1920px and above) */
@media (min-width: 1920px) {
  /* Styles for ultra-wide devices (4K monitors and above) */
}
