.articleHeader {
  margin-top: 50px;
  border: 2px solid #353535;
  width: 100%;
  border-radius: 8px;
}

.redGlow {
  box-shadow: 0px 0px 15px 5px rgba(255, 0, 0, 0.8) !important; /* Red glow effect */
}

.greenGlow {
  box-shadow: 0px 0px 15px 5px rgba(0, 255, 0, 0.8) !important; /* Green glow effect */
}

.summaryHeading {
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #353535;
  height: 50px;
}

.summaryFooter {
  height: 50px;
}

.summaryBody p {
  padding: 0px;
}

.seemorebtn {
  float: right;
  text-decoration: underline;
  color: #353535;
}
.seemorebtn:hover {
  cursor: pointer;
}

.claim {
}

.claimText {
  margin-left: 25px;
  font-weight: 700;
}

.claimExpiry {
  margin-left: 25px;
}

.profile {
  margin-right: 25px;
}

.profileUsername:hover {
  text-decoration: underline;
  cursor: pointer;
}

.summaryFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.leftFooter {
  margin-left: 25px;
}

.rightFooter {
  margin-right: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.commentCount {
  margin-top: 15px;
  font-size: 12px;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.commentIcon:hover {
  animation: wiggle 0.5s ease-in-out;
  cursor: pointer;
}

.green {
  color: green;
}

.red {
  color: red;
}

.editDelBtnSpace {
  margin-left: 5px;
  margin-right: 5px;
}

.btn:hover {
  cursor: pointer;
}
