.articleHeader {
  margin-top: 50px;
  border: 2px solid #353535;
  width: 100%;
  border-radius: 8px;
}

.redGlow {
  box-shadow: 0px 0px 15px 5px #ff6f61 !important; /* Red glow effect */
}

.greenGlow {
  /*box-shadow: 0px 0px 15px 5px rgba(0, 255, 0, 0.8) !important; /* Green glow effect */
  box-shadow: 0px 0px 15px 5px #6bbf59 !important;
}
.summaryHeading {
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #353535;
  height: 50px;
}

.summaryFooter {
  height: 50px;
}

.summaryBody p {
  padding: 0px;
}

.seemorebtn {
  float: right;
  text-decoration: underline;
  color: #353535;
}
.seemorebtn:hover {
  cursor: pointer;
}

.claim {
  margin-left: 25px;
  font-weight: 700;
}

.claimText {
}

.claimExpiry {
}

.profile {
  margin-right: 25px;
}

.profileUsername:hover {
  text-decoration: underline;
  cursor: pointer;
}

.summaryFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.leftFooter {
  margin-left: 25px;
}

.rightFooter {
  margin-right: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.commentCount {
  margin-top: 15px;
  font-size: 12px;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.commentIcon:hover {
  animation: wiggle 0.5s ease-in-out;
  cursor: pointer;
}

.green {
  color: green;
}

.red {
  color: red;
}

.editDelBtnSpace {
  margin-left: 5px;
  margin-right: 5px;
}

.btn:hover {
  cursor: pointer;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin-left: 5px;
}

.tooltipText {
  visibility: hidden;
  width: 200px;
  background-color: #353535;
  color: #f7f7f7;
  text-align: center;
  padding: 5px 10px;
  border-radius: 4px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Show above the icon */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltipText {
  visibility: visible;
  opacity: 1;
}

.toolTipTextVisible {
  visibility: visible !important;
  opacity: 1 !important;
}

.toolTipTextInvisible {
  visibility: hidden !important;
  opacity: 0 !important;
}

.tooltipIcon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background-color: #f7f7f7;
  border: 1px solid #353535;
  color: #353535;
  border-radius: 50%;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding-bottom: 0.9px;
}
.daysUntilExpiryText {
}

/* Extra Small Devices (0px to 575px) */
@media (max-width: 575px) {
  /* Styles for extra small devices (mobile phones in portrait mode) */

  .articleHeader {
    font-size: 12px;
  }
  .claim {
    text-align: center;
    margin: 0px;
  }

  .profile {
    text-align: center;
    margin: 0px;
    margin-top: 8px;
  }
  .leftFooter {
    text-align: center;
    margin: 0px;
    margin-bottom: 6px;
  }

  .rightFooter {
    text-align: center;
    margin: 0px;
  }

  .daysUntilExpiryText {
    display: none;
  }
  .summaryHeading {
    flex-direction: column;
    padding: 20px;
    text-align: center;
  }
  .summaryFooter {
    flex-direction: column;
    padding: 20px;
    text-align: center;
  }
  .tooltipIcon {
    width: 14px;
    height: 14px;
    line-height: 1;
    font-size: 13px;
  }

  .tooltip {
    margin: 2px;
  }

  .tooltipText {
    left: -500%;
  }
  .commentIcon {
    width: 25px;
    height: 25px;
    margin-bottom: 5px;
  }
  .commentCount {
    font-size: 10px;
  }
}

/* Small Devices (576px to 767px) */
@media (min-width: 576px) and (max-width: 767px) {
  /* Styles for small devices (mobile phones in landscape mode) */
  .articleHeader {
    font-size: 15px;
  }

  .daysUntilExpiryText {
    display: none;
  }
  .summaryHeading {
    flex-direction: column;
    padding: 12px;
  }
  .summaryFooter {
    flex-direction: column;
    padding: 12px;
  }
}

/*
@media (min-width: 768px) and (max-width: 991px) {

  .articleHeader {
    font-size: 12px;
  }
  .summaryHeading {
    flex-direction: column;
    padding: 12px;
  }
  .summaryFooter {
    flex-direction: column;
    padding: 12px;
  }
  .daysUntilExpiryText {
    display: none;
  }
}


@media (min-width: 992px) and (max-width: 1199px) {

  .articleHeader {
    font-size: 15px;
  }
  .summaryHeading {
    flex-direction: column;
    padding: 12px;
  }
  .summaryFooter {
    flex-direction: column;
    padding: 12px;
  }
}


@media (min-width: 1200px) and (max-width: 1919px) {


  .summaryHeading {
    flex-direction: column;
    padding: 12px;
  }
  .summaryFooter {
    flex-direction: column;
    padding: 12px;
  }
}*/

@media (min-width: 768px) and (max-width: 991px) {
  .articleHeader {
    font-size: 15px;
  }

  .daysUntilExpiryText {
    display: none;
  }
  .summaryHeading {
    flex-direction: column;
    padding: 12px;
  }
  .summaryFooter {
    flex-direction: column;
    padding: 12px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .articleHeader {
    font-size: 15px;
  }

  .daysUntilExpiryText {
    display: none;
  }
}
@media (min-width: 1200px) and (max-width: 1919px) {
}
