.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin: 0 auto;
  max-width: 1500px;
}

.articleBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border: 2px solid #353535;
  border-radius: 15px;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 90%;
  padding: 5%;
}

.agreeDisagreeSection {
  width: 100%;
  height: 80px;
  border: 2px solid #353535;
  border-radius: 8px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.separator {
  font-size: 30px;
  text-align: center;
}

.agree {
  color: #353535;
  border: 1px solid #353535;
  padding: 10px 20px;
  border-radius: 8px;
}
.disagree {
  color: #353535;
  border: 1px solid #353535;
  padding: 10px 20px;
  border-radius: 8px;
}
.agree:hover,
.disagree:hover {
  cursor: pointer;

  animation: wiggle 0.5s ease-in-out;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.commentSection {
  margin-top: 0px;
  margin-bottom: 20px;
  border: 2px solid #353535;
  width: 100%;
  border-radius: 8px;
  background-color: #f7f7f7; /* Adds a light background for contrast */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.commentInput {
  border: 2px solid #353535;
  background-color: #f7f7f7;
  height: 150px;
  width: 92%;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
  margin: 25px;
  resize: none; /* Allows vertical resizing */
  outline: none; /* Removes the default blue outline */
  transition: border-color 0.3s ease; /* Smooth hover effect */
}

.commentInput:focus {
  border-color: #a5a5a5; /* Highlights the border on focus */
  box-shadow: 0 0 5px #a5a5a57e; /* Adds glow on focus */
}

.commentButton {
  padding: 6px 12px;
  font-size: 20px;
  color: #353535;
  border: 1px solid #353535;
  border-radius: 5px;
  margin-left: auto;
  margin-right: 33px;
  margin-bottom: 15px;
  background-color: #e4e4e4;
}

.commentButton:hover {
  cursor: pointer;
}

.hr {
  border-top: 2px dashed #353535;
  width: 92%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.commentContainer {
  margin-top: 15px;
  width: 92%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.active {
  background-color: #e4e4e4;
}

/* Modal styles */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 8px;
  width: 270px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalContent h3 {
  margin-bottom: 20px;
}

.modalActions {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.btn {
  padding: 3px 6px;
  font-size: 15px;
  color: #353535;
  border: 1px solid #353535;
  border-radius: 5px;
  background-color: #f7f7f7;
  padding-bottom: 2px;
}

.btn:hover {
  cursor: pointer;
}
.ctaWrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f7f7f7; /* You can change the background color */
  color: #353535;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 2px solid #353535;
  z-index: 1000;
  width: 90%;
  max-width: 600px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed; /* Ensures it stays fixed in the viewport */
  pointer-events: auto; /* Ensure the CTA is interactive */
  overflow: hidden; /* Avoids content overflow */
  opacity: 0; /* Initially invisible */
  animation: fadeIn 1s ease-in-out forwards; /* Apply animation only to opacity */
}

.ctaContent h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.ctaContent p {
  font-size: 14px;
  margin-bottom: 15px;
}

.ctaButton {
  padding: 10px 20px;
  background-color: #f7f7f7;
  color: #353535;
  font-size: 16px;
  border: 1px solid #353535;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.ctaButton:hover {
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 30px;
  color: #353535;
  cursor: pointer;
  padding: 5px;
  transition: color 0.3s;
}

.closeButton:hover {
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.barChart {
  margin: 15px;
}

.popupContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.deleteModalWarning {
  margin-top: 0px;
}

@media (max-width: 400px) {
  .commentInput {
    max-width: 280px;
    margin-top: 15px;
  }
}

/* Extra Small Devices (0px to 575px) */
@media (max-width: 575px) {
  /* Styles for extra small devices (mobile phones in portrait mode) */
  .article {
    width: 95%;
  }
  .articleBody {
    font-size: 11px;
  }
  .separator {
    display: none;
  }
  .commentInput {
    margin-top: 15px;
  }
}

/* Small Devices (576px to 767px) */
@media (min-width: 576px) and (max-width: 767px) {
  /* Styles for small devices (mobile phones in landscape mode) */
  .article {
    width: 97%;
  }
  .articleBody {
    font-size: 12px;
  }
}

/* Medium Devices (768px to 991px) */
@media (min-width: 768px) and (max-width: 991px) {
  /* Styles for medium devices (tablets in portrait mode) */
  .article {
    width: 95%;
  }
}

/* Large Devices (992px to 1199px) */
@media (min-width: 992px) and (max-width: 1199px) {
  /* Styles for large devices (tablets in landscape mode or small laptops) */
  .article {
    width: 90%;
  }
}

/* Extra Large Devices (1200px to 1919px) */
@media (min-width: 1200px) and (max-width: 1919px) {
  /* Styles for extra large devices (large laptops and desktops) */
  .article {
    width: 80%;
  }
}
