.articleTitle {
  color: #353535;
  border: 5px solid #353535;
  margin-top: 50px;
  margin-bottom: 0px;
  padding: 0;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
  border-radius: 15px;
  text-align: center;
  font-size: 60px;
  font-weight: 700;
}

/* Default Styles */
/* Place your base styles here. These will apply to all devices unless overridden by media queries */

/* Extra Small Devices (0px to 575px) */
@media (max-width: 575px) {
  /* Styles for extra small devices (mobile phones in portrait mode) */
  .articleTitle {
    font-size: 20px;
  }
}

/* Small Devices (576px to 767px) */
@media (min-width: 576px) and (max-width: 767px) {
  /* Styles for small devices (mobile phones in landscape mode) */
  .articleTitle {
    font-size: 30px;
  }
}

/* Medium Devices (768px to 991px) */
@media (min-width: 768px) and (max-width: 991px) {
  /* Styles for medium devices (tablets in portrait mode) */
  .articleTitle {
    font-size: 40px;
  }
}

/* Large Devices (992px to 1199px) */
@media (min-width: 992px) and (max-width: 1199px) {
  /* Styles for large devices (tablets in landscape mode or small laptops) */

  .articleTitle {
    font-size: 50px;
  }
}

/* Extra Large Devices (1200px to 1919px) */
@media (min-width: 1200px) and (max-width: 1919px) {
  /* Styles for extra large devices (large laptops and desktops) */
}

/* Ultra-Wide Devices (1920px and above) */
@media (min-width: 1920px) {
  /* Styles for ultra-wide devices (4K monitors and above) */
}
