.comment {
  margin: 15px;
  border: 2px solid #353535;
  width: 92%;
  border: 2px solid #353535;
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 14px;
  background-color: #f4f4f4; /* Light background for contrast */
  word-wrap: break-word; /* Ensures long text wraps */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adds subtle depth */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.upperComment {
  padding: 3px;
  border-bottom: 1px solid #353535;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.lowerComment {
  padding: 3px;
  border-top: 1px solid #353535;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.upperSpan {
  margin-left: 25px;
}

.lowerSpan {
  margin-right: 25px;
}

.commentBody {
  height: 60%;
  font-size: 14px; /* Adjust to fit the overall design */
  color: #353535; /* Dark gray for readability */
  line-height: 1.6; /* Improve text spacing */
  margin: 10px 10px; /* Add spacing around the comment body */
  padding: 10px; /* Space inside the comment body */
  flex: 1;
}

/* Modal styles */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalContent h3 {
  margin-bottom: 20px;
}

.modalActions {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.btn {
}

.btn:hover {
  cursor: pointer;
}

.editDelBtnSpace {
  margin-left: 5px;
  margin-right: 5px;
}

.delBtn {
  margin-right: 5px;
}

.delBtn:hover {
  cursor: pointer;
}
