.footer {
  width: 100%;
  border-top: 3px solid #353535;
  min-height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: 25px;
  background-color: #f7f7f7;
  padding: 2px 0px;
}

.link {
  text-decoration: none;
  color: #353535;
}
.loadingContainer {
  position: fixed; /* Sticks the container to the viewport */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  background-color: rgba(
    0,
    0,
    0,
    0.3
  ); /* Optional: adds a semi-transparent background */
  z-index: 9999; /* Ensures it stays on top of other content */
}
