.pageBody {
  width: 100%;
  margin: 0 auto;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex: 1;
}

.subnavbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 25px;
  margin: 15px 0;
  background-color: #f7f7f7;
  border-bottom: 2px dashed #353535;
  text-align: center;
}

.active {
  background-color: #eeeeee;
}

.context {
  font-size: 1.35rem; /* Slightly larger text */
  color: #353535; /* Dark color for readability */
  line-height: 1.1; /* Spacing for readability */
  margin: 25px; /* Adds some space around the text */
  text-align: center; /* Center the text */
  max-width: 600px; /* Optional, limits text width */
  margin-left: auto; /* Center align */
  margin-right: auto; /* Center align */
  border: 2px dashed #353535;
  padding: 20px;
  border-radius: 15px;
  margin: 5px;
}

.subnavitem {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  color: #353535;
}

.subnavitem:hover {
  background-color: #eeeeee; /* Set your desired hover background color */
  /* Change text color on hover */
  border-color: #353535; /* Change border color on hover */
  cursor: pointer;
}
.loadingContainer {
  position: fixed; /* Sticks the container to the viewport */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  background-color: #f7f7f7;
  z-index: 9999; /* Ensures it stays on top of other content */
}

.searchContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.followingContainer {
  margin-top: 50px;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1900px;
}

/* styles.css or your preferred CSS file */
.tableContainer {
  border: 1px solid #353535;
  border-radius: 8px;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); /* Adds a subtle shadow */
  margin-top: 35px;
  margin-bottom: 25px;
  max-width: 1500px;
}

.profileTable {
  width: 100%;
  border-collapse: separate; /* Use separate borders to avoid conflict */
  border-spacing: 0; /* Ensure no space between borders */
  table-layout: fixed;
}

.profileTable th,
.profileTable td {
  padding: 10px;
  text-align: center;
  border: 1px solid #353535; /* Add border between rows and columns */
}
.profileTable td {
  word-wrap: break-word; /* Ensure text breaks into next line */
  white-space: normal;
}

.profileTable caption {
  font-weight: 700;
  font-size: 20px;
  border: 1px solid #353535;
}

.hr {
  width: 60%;
  border-bottom: 2px dashed #353535;
  margin-top: 25px;
  margin-bottom: 40px;
}

.accountSettingsContainer {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  max-width: 1500px;
}
.subContainer {
  display: flex;
}

.logoutButton {
  padding: 6px 12px;
  font-size: 27px;
  color: #353535;
  border: 1px solid #353535;
  border-radius: 5px;
  background-color: #e4e4e4;
}

.logoutButton:hover {
  cursor: pointer;
}

.feed {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid {
  display: grid;
  grid-gap: var(--card-padding);
  max-width: 60em;
  padding: 0;

  @media (min-width: 27em) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  background-color: #f7f7f7;
  border-radius: var(--card-radius);
  position: relative;

  &:hover {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  }
}

.radio {
  font-size: inherit;
  margin: 0;
  position: absolute;
  right: calc(var(--card-padding) + var(--radio-border-width));
  top: calc(var(--card-padding) + var(--radio-border-width));
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  .radio {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #f7f7f7;
    border: var(--radio-border-width) solid var(--color-gray);
    border-radius: 50%;
    cursor: pointer;
    height: var(--radio-size);
    outline: none;
    transition: background 0.2s ease-out, border-color 0.2s ease-out;
    width: var(--radio-size);

    &::after {
      border: var(--radio-border-width) solid #fff;
      border-top: 0;
      border-left: 0;
      content: "";
      display: block;
      height: 0.75rem;
      left: 25%;
      position: absolute;
      top: 50%;
      transform: rotate(45deg) translate(-50%, -50%);
      width: 0.375rem;
    }

    &:checked {
      background: var(--color-green);
      border-color: var(--color-green);
    }
  }

  .card:hover .radio {
    border-color: var(--color-dark-gray);

    &:checked {
      border-color: var(--color-green);
    }
  }
}

.planDetails {
  border: var(--radio-border-width) solid var(--color-gray);
  border-radius: var(--card-radius);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: var(--card-padding);
  transition: border-color 0.2s ease-out;
  height: 77%;
}

.card:hover .plan-details {
  border-color: var(--color-dark-gray);
}

.radio:checked ~ .plan-details {
  border-color: var(--color-green);
}

.radio:focus ~ .plan-details {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.radio:disabled ~ .plan-details {
  color: var(--color-dark-gray);
  cursor: default;
}

.radio:disabled ~ .plan-details .plan-type {
  color: var(--color-dark-gray);
}

.card:hover .radio:disabled ~ .plan-details {
  border-color: var(--color-gray);
  box-shadow: none;
}

.card:hover .radio:disabled {
  border-color: var(--color-gray);
}

.planType {
  color: var(--color-green);
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1em;
}

.planCost {
  font-size: 2.5rem;
  font-weight: bold;
  padding: 0.5rem 0;
}

.slash {
  font-weight: normal;
}

.planCycle {
  font-size: 2rem;
  font-variant: none;
  border-bottom: none;
  cursor: inherit;
  text-decoration: none;
}

.hiddenVisually {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@media (min-width: 320px) {
  .followingContainer {
    width: 100%;
  }
}

@media (max-width: 575px) {
  .accountSettingsContainer {
    flex-direction: column;
    align-items: center;
  }
  .logoutButton {
    margin-top: 15px;
  }
  .tableContainer {
    width: 95%;
  }
  .profileTable {
    font-size: 10px;
  }

  .profileTable th,
  .profileTable td {
    padding: 5px;
  }
  .subnavbar {
    flex-direction: column;
  }
}

/* Small Devices (576px to 767px) */
@media (min-width: 576px) and (max-width: 1053px) {
  .accountSettingsContainer {
    width: 100%;
  }
  .tableContainer {
    width: 100%;
  }
  .subnavbar {
    font-size: 22px;
  }
}

@media (max-width: 1054px) {
  .followingContainer {
    width: 95%;
  }
  .accountSettingsContainer {
    width: 80%;
  }
  .tableContainer {
    width: 80%;
  }
}

@media (min-width: 1055px) and (max-width: 1249px) {
  .followingContainer {
    width: 95%;
  }
}

/* Extra Large Devices (1200px to 1919px) */
@media (min-width: 1250px) and (max-width: 1640px) {
  .followingContainer {
    width: 95%;
  }
}

@media (min-width: 1641px) and (max-width: 1990px) {
  .followingContainer {
    width: 90%;
  }
}

/* Ultra-Wide Devices (1920px and above) */
/*test up to 2560px*/
@media (min-width: 1920px) {
  .followingContainer {
    width: 90%;
  }
}
