.pageBody {
  width: 100%;
  margin: 0 auto;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex: 1;
}

.pageBody::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("/images/background.svg") repeat;
  background-size: contain;
  pointer-events: none;
  z-index: -1;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0.9) 100%
  );
  -webkit-mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0) 25%,
    rgba(0, 0, 0, 0) 75%,
    rgba(0, 0, 0, 0.9) 100%
  );
}

.subnavbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 25px;
  margin: 15px 0;
  background-color: #f7f7f7;
  border-bottom: 2px dashed #353535;
}

.subnavitem {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  color: #353535;
}

.subnavitem:hover {
  background-color: #eeeeee; /* Set your desired hover background color */
  /* Change text color on hover */
  border-color: #353535; /* Change border color on hover */
  cursor: pointer;
}

.feed {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1500px;
}

.active {
  background-color: #eeeeee;
}

.leaderboardBody {
  margin-top: 50px;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1500px;
}

.searchBar {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 400px;
  margin-bottom: 35px;
}

.searchInput {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #353535;
  border-radius: 4px;
}

.searchButton {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #eeeeee;
  color: #353535;
  font-weight: 700;
  border-radius: 4px;
  cursor: pointer;

  border: 1px solid #353535;
  text-align: center;
}

.dateInput {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #353535;
  border-radius: 4px;
}

.conscensusSearchContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 40px;
}

.margin {
  margin: 30px;
}

.context {
  font-size: 1.35rem; /* Slightly larger text */
  color: #353535; /* Dark color for readability */
  line-height: 1.1; /* Spacing for readability */
  margin: 25px; /* Adds some space around the text */
  text-align: center; /* Center the text */
  max-width: 600px; /* Optional, limits text width */
  margin-left: auto; /* Center align */
  margin-right: auto; /* Center align */
  border: 2px dashed #353535;
  padding: 20px;
  border-radius: 15px;
  margin: 5px;
}

.loadingError {
  font-size: 1rem; /* Slightly larger text */
  color: #353535; /* Dark color for readability */
  line-height: 1; /* Spacing for readability */
  margin: 25px; /* Adds some space around the text */
  text-align: center; /* Center the text */
  max-width: 800px; /* Optional, limits text width */
  margin-left: 5px; /* Center align */
  margin-right: 5px; /* Center align */
  border: 2px solid #353535;
  padding: 20px;
  border-radius: 15px;
}

.loadingContainer {
  position: fixed; /* Sticks the container to the viewport */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  background-color: #f7f7f7;
  z-index: 9999; /* Ensures it stays on top of other content */
}

@media (max-width: 575px) {
  .leaderboardBody {
    width: 100%;
  }
  .subnavbar {
    border-top: 2px dashed #353535;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    padding: 5px;
  }
  .feed {
    width: 100%;
  }
  .subnavitem {
    margin: 0px;
  }
}
/* Small Devices (576px to 767px) */
@media (min-width: 576px) and (max-width: 767px) {
  /* Styles for small devices (mobile phones in landscape mode) */
  .subnavbar {
    font-size: 18px;
    text-align: center;
  }
  .leaderboardBody {
    width: 100%;
  }
  .feed {
    width: 100%;
  }
}

/* Medium Devices (768px to 991px) */
@media (min-width: 768px) and (max-width: 1054px) {
  /* Styles for medium devices (tablets in portrait mode) */
  .leaderboardBody {
    width: 100%;
  }
  .feed {
    width: 100%;
  }
  .subnavbar {
    font-size: 20px;
  }
}

@media (max-width: 1054px) {
}

@media (min-width: 1055px) and (max-width: 1249px) {
  .feed {
    width: 95%;
  }
  .leaderboardBody {
    width: 95%;
  }
}

/* Extra Large Devices (1200px to 1919px) */
@media (min-width: 1250px) and (max-width: 1640px) {
  .feed {
    width: 80%;
  }
  .leaderboardBody {
    width: 95%;
  }
}

@media (min-width: 1641px) and (max-width: 1990px) {
  .leaderboardBody {
    width: 90%;
  }
}

/* Ultra-Wide Devices (1920px and above) */
/*test up to 2560px*/
@media (min-width: 1920px) {
}
