.pageHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 35px;
  background-color: #f7f7f7;
}

.leftOfHeader {
  display: flex;
  flex-direction: row;
}
.rightOfHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 2rem;
  text-decoration: none;
  color: #353535;
  letter-spacing: 0.15rem;
  font-size: 2rem;
}

.typedSiteName {
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid;
  width: 0;
  animation: typing 1.5s steps(30, end) forwards, blinking 1s infinite;
  margin: 0px;
  padding-top: 15px;
  font-weight: 400;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blinking {
  0% {
    border-right-color: transparent;
  }
  50% {
    border-right-color: #353535;
  }
  100% {
    border-right-color: transparent;
  }
}

.navButton {
  text-decoration: none;
  color: #353535;
  font-size: 1.5rem;
  border-right: 2px solid transparent;
  margin: 0 15px;
  cursor: pointer;
  border-top: none;
  border-left: none;
  border-bottom: none;
  background-color: #f7f7f7;
}

.navButton:hover {
  border-right-color: #353535; /* Show border on hover */
  animation: blinking 1s infinite; /* Flash animation */
}

.profileCircle {
  text-decoration: none;
  color: #353535;
  font-size: 1.7rem;
  border: 2px dashed #353535;
  text-align: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  margin: 0 15px;
  margin-left: 50px;
}

.postButton {
  text-decoration: none;
  color: #353535;
  font-size: 1.5rem;
  border: 2px solid #353535;
  margin: 0 15px;
  cursor: pointer;
  background-color: #f7f7f7;
  border-radius: 15px;
  padding: 5px 10px;
}

.underline {
  border-bottom: 3px solid #353535;
}

.separator {
  border-bottom: 3px solid #353535;
  margin: 0px;
  margin-left: 40px;
  margin-right: 40px;
}

.loadingContainer {
  position: fixed; /* Sticks the container to the viewport */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  background-color: #f7f7f7;
  z-index: 9999; /* Ensures it stays on top of other content */
}

.hamburger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-around;
  width: 40px;
  height: 30px;
  background: transparent;
  border: none;
  outline: none;
}

.hamburger span {
  display: block;
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
}

/* Menu overlay styles */
.menuOverlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #353535;
  color: #f7f7f7;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.menuOverlay.active {
  display: flex;
}

.mobileLink {
  text-decoration: none;
  color: #f7f7f7;
  font-size: 2rem;
  padding: 10px;
}
.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 35px;
  cursor: pointer;
  color: #f7f7f7;
}

.postButtonMobile {
  display: none;

  font-size: 2rem !important;

  padding: 5px 10px !important;
}

/* Extra Small Devices (0px to 575px) */
/* From 320 pixels*/
@media (max-width: 575px) {
  /* Styles for extra small devices (mobile phones in portrait mode) */
  .logo {
    gap: 0.1rem;
    letter-spacing: 0.05rem;
    font-size: 0.5rem;
  }
  .pageHeader {
    padding: 7px 35px;
  }
  .navButton {
    display: none;
  }
  .profileCircle {
    display: none;
  }
  .hamburger {
    display: flex;
  }
  .postButton {
    font-size: 1.25rem;
    margin: 0 8px;
    padding: 3px 8px;
    margin-right: 15px;
  }
  .hamburger {
    width: 30px;
    height: 20px;
  }
  .separator {
    margin-left: 20px;
    margin-right: 20px;
  }
  .typedSiteName {
    padding-top: 5px;
  }
}

@media (max-width: 600px) {
  .postButtonStandard {
    display: none;
  }
  .postButtonMobile {
    display: block;
  }
}

/* Small Devices (576px to 767px) */
@media (min-width: 576px) and (max-width: 767px) {
  /* Styles for small devices (mobile phones in landscape mode) */
  .logo {
    gap: 0.7rem;
    letter-spacing: 0.15rem;
    font-size: 0.85rem;
  }
  .pageHeader {
    padding: 7px 35px;
  }
  .navButton {
    display: none;
  }
  .profileCircle {
    display: none;
  }
  .hamburger {
    display: flex;
  }
  .postButton {
    font-size: 1.25rem;
    margin: 0 8px;
    padding: 3px 8px;
    margin-right: 15px;
  }
  .typedSiteName {
    padding-top: 8px;
  }
}

/* Medium Devices (768px to 991px) */
@media (min-width: 768px) and (max-width: 991px) {
  /*Need a Hamburger menu here*/
  /* Styles for medium devices (tablets in portrait mode) */
  .logo {
    gap: 0.7rem;
    letter-spacing: 0.15rem;
    font-size: 0.85rem;
  }
  .pageHeader {
    padding: 7px 35px;
  }
  .navButton {
    display: none;
  }
  .profileCircle {
    display: none;
  }
  .hamburger {
    display: flex;
  }
  .postButton {
    font-size: 1.25rem;
    margin: 0 8px;
    padding: 3px 8px;
    margin-right: 15px;
  }
  .typedSiteName {
    padding-top: 8px;
  }
}

/* Large Devices (992px to 1199px) */
@media (min-width: 992px) and (max-width: 1199px) {
  .logo {
    gap: 1.25rem;
    letter-spacing: 0.45rem;
    font-size: 1rem;
  }
  .navButton {
    font-size: 1.25rem;
    margin: 0 8px;
  }
  .postButton {
    font-size: 1.25rem;
    margin: 0 8px;
    padding: 3px 8px;
  }
  .profileCircle {
    margin: 0 15px;
    margin-left: 35px;
    font-size: 1.55rem;

    width: 35px;
    height: 35px;
    line-height: 35px;
  }
  .pageHeader {
    padding: 7px 35px;
  }
  .typedSiteName {
    padding-top: 8px;
  }
}

/* Extra Large Devices (1200px to 1919px) */
@media (min-width: 1200px) and (max-width: 1919px) {
  .logo {
    gap: 1.5rem;
    letter-spacing: 0.1rem;
    font-size: 1.5rem;
  }
  .navButton {
    font-size: 1.5rem;
    margin: 0 15px;
  }
  .postButton {
    font-size: 1.5rem;
    margin: 0 10px;
  }
  .profileCircle {
    margin-left: 40px;
  }
  .typedSiteName {
    padding-top: 8px;
  }
}

/* Ultra-Wide Devices (1920px and above) */
@media (min-width: 1920px) {
  /* Styles for ultra-wide devices (4K monitors and above) */
}
